<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ketchup</title>
  <link rel="shortcut icon" href="images/ketchup_icon.ico"/>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144818142-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-144818142-1');
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/01b4af962b.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <script src="vue.js"></script> 
</head>
<body>
  <div id="loading" class="loadingPage">
    <div class="load-wrapp">
      <div class="load-1">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
      </div>
    </div>
  </div>
  <div id="sidebar">
    <div class="pt-5 pb-4 px-4 side-title">
      <a class="side-link" href="index.html"><i style="font-size: 28px" class="fas fa-music"></i>
      <span class="pl-2">Ketchup</span></a>
    </div>
    <div class="px-4 mb-3 mt-2 side-content">
      <a class="side-link" href="index.html"><i class="fas fa-home"></i>
      <span class="pl-3">首頁</span></a>
    </div>
    <div class="px-4 mb-3 mt-2 side-content">
      <a class="side-link" href="https://github.com/clover180120/Ketchup"><i class="fab fa-github"></i>
      <span class="pl-3">Github repo</span></a>
    </div>
  </div>

  <main role="main">
    <div id="content" class="album py-5">
      <div id="content2" class="container">
        <h2 class="pt-2 pb-2">精選 KKBOX 最新排行日/週榜 🔥</h2>
        <div class="row" id="chart">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 px-2 py-4" v-for="itemObj in chart">
              <div @click.stop="showAlbums(itemObj)" class="album-songs-title">
                <img :src="itemObj.image" class="chartIMG">
                <div class="chartName d-flex justify-content-center align-items-center mt-2">{{itemObj.title}}</div>
              </div>
            </div>
        </div>
        <div class="row" id="album">
            <div class="col-sm-12 col-md-4 pt-3 pl-3 albumimg">
              <img :src="albumImg">
              <div class="albumbtn">
                <button class="col-12 col-sm-12 col-md-12 btn btn-warning btn" type="button" onclick="playSong(0)">全部播放
                </button>
              </div>
            </div>
            <div class="col-sm-8 col-md-8 pt-3">
            <div class="row songtotal" v-for="itemObj in album">
              <div class="my-1 col-sm-3 col-md-8 col-4 songimg">
                <div @click.stop="playYoutubeVideo(itemObj)">
                  <img :src="itemObj.songImg">
                </div>
              </div>
              <div class="my-1 col-sm-9 col-md-10 col-8 songinfo">
                <div @click.stop="playYoutubeVideo(itemObj)" class="songlink">
                  <h2 class="songinfo1">{{itemObj.songName}}</h2>
                  <span class="songinfo2">{{itemObj.artistName}}</span>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </main>

  <footer>
    <div id="player"></div>
    <div id="playBar">
      <div id="barbtn" class="play-icon">
        <i @click="randomSong" id="random" class="icon fas fa-random"></i>
        <i @click="prevSong" id="prev" class="icon fas fa-step-backward"></i>
        <i @click="playSong" id="play" class="icon far fa-play-circle"></i>
        <i @click="nextSong" id="next" class="icon fas fa-step-forward"></i>
        <i @click="repeatSong" id="repeat" class="icon fas fa-sync-alt"></i>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="main.js"></script> 
</body>
</html>
